
@font-face {
    font-family: 'noto-regular';
    src: url(../fonts/NotoSansLaoUI-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'noto-bold';
    src: url(../fonts/NotoSansLaoUI-Bold.ttf) format("truetype");
}

h1, h2, h3, h4, h5, h6, body, input {
    font-family: "Raleway", sans-serif, 'noto-regular','Saysettha OT' !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
body , input{
  font-family: "Raleway", sans-serif, 'noto-regular','Saysettha OT' !important;
}
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;

}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
      padding-left: 30px;
    padding-right: 20px;
}


table thead tr {
  height: 60px;
  background-color: #36304a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 1px;
}
table td, table th {
  text-align: center;
}
table td.l, table th.l {
  text-align: center;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: Saysettha OT;
  font-size: 22px;
  color: #FFFFFF;
  line-height: 1.2;
  font-weight: 500;
  background-color: #2E74F6;
}

tbody tr:nth-child(even) {
  background-color: #e2e2e2;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #031B4E;
  line-height: 1.2;
  font-weight: unset;
}
.columncurrency_name {
  width: 310px;
  padding-left: 90px;
  text-align: left;
}
.column1 {
  width: 200px;
  padding-left: 20px;
}

.column2 {
  width: 160px;
}

.column3 {
  width: 245px;
}

.column4 {
  width: 110px;
  text-align: center;
}

.column5 {
  width: 170px;
  text-align: center;
}

.column6 {
  width: 222px;
  text-align: center;
  padding-right: 62px;
}

@media screen and (max-width: 1024px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
   tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #232F3F;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
    border: 2px;
     }
    table:before{

      background-color: #000;
      display: block;
 }
 td:before{
   position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    position: absolute;
      display: block; 
 }

  .currency table tbody tr td:nth-child(1):before {
    content: "Currency Name";
        font-size: 19px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 20;
  }
  .currency table tbody tr td:nth-child(2):before {
    content: "Sales";
    font-size: 19px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 20;
  }
  .currency table tbody tr td:nth-child(3):before {
    content: "Buy";
            font-size: 19px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 20;
  }


  table tbody tr td:nth-child(1):before {
    content: "Date";
  }
  table tbody tr td:nth-child(2):before {
    content: "Order ID";
  }
  table tbody tr td:nth-child(3):before {
    content: "Name";
  }
  table tbody tr td:nth-child(4):before {
    content: "Price";
  }
  table tbody tr td:nth-child(5):before {
    content: "Quantity";
  }
  table tbody tr td:nth-child(6):before {
    content: "Total";
  }

  .column4,
  .column5,
  .column6 {
    text-align: center;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
  .table100 tr:nth-child(even){
  background-color: #f2f2f2;}

  .table100 td:hover {
  background-color: #51d8af;
color: #333;
}
  .table100 tr:hover {
  background-color: #51d8af;
color: #333;
}



  table { 
  width: 100%; 
  border-collapse: collapse; 
  bottom: 10px;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #b9b9b9; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #000; 
  text-align: left; 
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 480px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
    background-color: #50D8AF;
  }
  
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    position: absolute;
      display: block; 
  }
  




